<h1>下班打卡</h1>
  <% if @punchcard.errors.any? %>
      <ul>
        <% @punchcard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
<div class="py-10 ">
  <%= form_with model: @punchcard  do |f1| %>
      <div class="p-5 border-8 border-blue-500 w-96">
        <div class="field">
          <% f1.label :punch_out_at, "下班打卡" %>
          <%= f1.text_field :punch_out_at,value: Time.current,readonly: :true %>
        </div>
        <div class="field">
          <div class="actions">
            <%= f1.submit "下班打卡" %>
          </div>
        </div>
      </div>
  <% end %>
</div>