<%= form_with(model: department, url:admin_departments_path, method: "post") do |form| %>

  <div class="field">
    <%= form.label :department_name, "部門名稱" %>
    <%= form.text_field :department_name %>
  </div>

    <div class="actions">
    <%= form.submit %>
    </div>

<% end %>