    <header class="flex items-center justify-end px-6 py-4 bg-white border-b-4">
        <div class="flex">
            <div class= "py-2 mx-3 text-lg font-bold">
                <% if policy(:bulletin).index? %>
                    <%= current_user.email %>
                </div>
            <div>
            <%= link_to destroy_user_session_path, method: "delete",class:"block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" do %>
              <span class="mx-3 text-xl font-bold">登出</span>
            <%end%>
        <% end %>
    </header>
