
<% if @response.status === "SUCCESS" %>

  <table>
    <tr>
      <h1>感謝您讓飛天貓飛高高</h1>
      <td>捐款人<%= @username %></td>
      <td>捐款編號<%= @response.order_no %></td>
      <td>付款時間<%= @response.pay_at %></td>
      <td>卡號後四碼<%= @response.card_last_4_no %></td>
    <tr>
  </table>
<% else %>  

  <h1>資助失敗，請再試一次</h1>

<% end %>