<h1>公司資訊</h1>

<table>
  <tr>
    <td>編輯公司</td>
  </tr>



    <% @companies.each do |company|  %>
    <tr>
        
        <td><%= link_to "編輯", edit_company_path(company) %></td>

    </tr>
    <% end %>




</table>