<% if page.current? %>
  <li class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white transform hover: -translate-y-0.5 <%= "rounded-l-lg" if page.first? %> <%= "rounded-r-lg" if page.last?%>">
    <%= content_tag :a , page, data: { remote: remote }, rel: page.rel %>
  </li>
<% else %>
  <li class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer">
    <%= link_to page, url, remote: remote, rel: page.rel %>
  </li>
<% end %>
