.flash {
  @apply flex items-center justify-between px-6 py-2 rounded-sm font-medium text-lg w-full;
}

.flash-notice {
  @apply bg-blue-400 text-white;

  #flashCloseBtn {
    @apply hover:bg-blue-200 text-blue-500 rounded-full px-3 py-1;
  }
}

.flash-alert {
  @apply bg-red-400 text-white;

  #flashCloseBtn {
    @apply hover:bg-red-200 text-red-500 rounded-full px-3 py-1;
  }
}