.table-center {
  @apply flex justify-center px-5 py-4 bg-gray-200;
}

.thead {
  @apply text-center text-gray-200 bg-indigo-900 rounded shadow-md text-lg font-bold text-gray-200;
}

.tbody {
  @apply bg-gray-100 border-b p-3 px-5 text-center text-base sm:text-lg;
}

.tp {
  @apply p-3 px-5 text-center text-base sm:text-lg;
}

.bg-sky {
  background-image: url("/assets/flycat_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gmap-box {
  width: 21rem;
  height: 21rem;
}

.gradient-bg {
  background: linear-gradient(to right, #fff6d3 0%, #ffda42 80%);
}
