<p>哈囉 <%= @resource.email %>!</p>

<p>我們收到了您重設密碼的要求</p>

<p><%= link_to '按此重設', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果這不是您的要求，請忽略此封郵件</p>
<p>您的密碼在您重設前都不會更動</p>

<p>-------------------------------------------</p>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
