<h1 class="px-16 py-6 bg-gray-200">報表管理</h1>
<div class = "w-screen px-16 bg-gray-200 rounded-lg", data-controller = "reports">
  <div class="flex justify-start flex-wrap mb-6 w-3/4">
      <div class="w-65 mb-4">
        <label class="translation_missing mt-2 mr-4 text-lg">開始時間</label>
        <input type="datetime-local" class="px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50" id="start_at">
      </div>
      <div class="w-65 mb-4">
        <label class="translation_missing mt-2 mr-4 text-lg">結束時間</label>
        <input type="datetime-local" class="px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50" id="end_at">
      </div>
  </div>
  <div class="flex justify-start flex-wrap mb-6">
    <div class="flex justify-start flex-wrap mb-6 w-65">
        <button id="on_duties" class="show-btn mr-2 mb-4">班表彙總<button>
        <button id="vacations" class="show-btn mr-2 mb-4">請假紀錄<button>
        <button id="punchcards" class="show-btn mr-2 mb-4">打卡紀錄<button>
    </div>
  </div>
  <div id="search_results" class="flex justify-center mb-6 w-3/4 ">
  </div>
</div>