<div data-controller = "reports">
  <div class="time_range">
    <label>開始時間</label>
    <input type="datetime-local" id="start_at">
    <label>結束時間</label>
    <input type="datetime-local" id="end_at">
  </div>
  <div class="button">
    <button id="on_duties">個人班表<button>
    <button id="vacations">請假紀錄<button>
    <button id="punchcards">打卡紀錄<button>
  </div>
  <div id="search_results">
  </div>
</div>